[Unit]
Description=Mounting dependencies for bext-managed systemd-sysexts
ConditionPathExists=!%f
DefaultDependencies=no
Requires=systemd-sysext.service
After=systemd-sysext.service
After=mkdir-rootfs@nix.service
Wants=mkdir-rootfs@nix.service
[Service]
Type=oneshot
ExecStartPre=mkdir -p /nix/store && bext mount extensions --refresh
ExecStart=bext mount store --refresh
ExecStopPost=bext mount path
[Install]
WantedBy=multi-user.target